<div class="footy-sec">
    <div class="container">
        <ul>
            <li><a href="https://discord.gg/tvbjDgj" target="_blank" title="RSL on Discord">Feel free to help us on discord</a></li>
            <li><a href="https://github.com/reseau-social-libre" target="_blank" title="RSL on Github">This project on Github</a></li>
            <li><a href="https://www.facebook.com/Resauxsociallibre/" target="_blank" title="RSL on facebook">Facebook page</a></li>
            <li><a href="{{ path('cookie-policy') }}" target="_blank" title="Cookie policy">{{ 'block.tags_menu.cookie_policy'|trans }}</a></li>
        </ul>
    </div>
</div>
