<header>
    <div class="container">
        <div class="header-data">
            {% include 'menu/logo.html.twig' %}
            {% include 'menu/search.html.twig' %}
            {% include 'menu/nav.html.twig' %}
            {% include 'menu/account.html.twig' %}
        </div>
    </div>
</header>
