<div class="cm-logo">
    {#<img src="{{ asset('build/images/cm-logo.png')}}" alt="">#}
    <p>Résaux social libre son censure open source sous licences logiciel libre ou tout
        le monde peux participé a sa modification et améliorant RSL aurait pour but de
        postée partager publier se que lon veux et il serait affilier a aucune partie ni
        pays tout le code serait disponible sur github </p>
</div>
<img src="{{ asset('build/images/cm-main-img.png')}}" alt="">
