<div class="right-sidebar">
    {% include 'home/block/about.html.twig' %}
    {% include 'home/block/donate.html.twig' %}
    {% include 'home/block/user-counter.html.twig' %}
    {% include 'home/block/tags-menu.html.twig' %}
</div>
