<section class="cover-sec">
    <img src="{{ asset('/uploads/user/covers/'~ user.getUserCoverPictures().last().document)|imagine_filter('user_cover') }}" alt="">
    <a href="#" title="" class="cover-open"><i class="fa fa-camera"></i> Change Image</a>
</section>
