<div class="col-lg-6">
    <div class="main-ws-sec">
        {% include 'profile/tab/user.html.twig' %}
        {% include 'profile/tab/feed.html.twig' %}
        {% include 'profile/tab/info.html.twig' %}
    </div>
</div>
