<div class="col-lg-6 col-md-8 no-pd">
    <div class="main-ws-sec">
        {% include 'profile/tab/user.html.twig' %}
        {% include 'profile/tab/feed.html.twig' %}
        {% include 'profile/tab/info.html.twig' %}
    </div>
</div>
