<div class="user-tab-sec">
    <h3>{{ user.username }}</h3>
    <div class="star-descp">
        <span>Graphic Designer at Self Employed</span>
        <ul>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star"></i></li>
            <li><i class="fa fa-star-half-o"></i></li>
        </ul>
        <a href="#" title="" class="status-open"><i class="fa fa-pencil"></i></a>
    </div>
    <div class="tab-feed st2">
        <ul>
            <li data-tab="feed-dd" class="active">
                <a href="#" title="">
                    <img src="{{ asset('build/images/ic1.png') }}" alt="">
                    <span>Feed</span>
                </a>
            </li>
            <li data-tab="info-dd">
                <a href="#" title="">
                    <img src="{{ asset('build/images/ic2.png') }}" alt="">
                    <span>Info</span>
                </a>
            </li>
        </ul>
    </div>
</div>
