<div class="logo">
    <a href="{{ path('home') }}" title="Non censured social network">
        <img src="{{ asset('build/images/logo.png')| imagine_filter('logo_thumbnail') }}" alt="">
    </a>
</div>
