<nav>
    <ul>
        <li>
            <a href="{{ path('home') }}" title="">
                <span><img src="{{ asset('build/images/icon1.png') }}" alt=""></span>
                Home
            </a>
        </li>
        <li>
            <a href="#" title="">
                <span><img src="{{ asset('build/images/icon2.png') }}" alt=""></span>
                News
            </a>
            <ul>
                <li><a href="#" title="">Recent</a></li>
                <li><a href="#" title="">Most viewed</a></li>
            </ul>
        </li>
        <li>
            <a href="#" title="">
                <span><img src="{{ asset('build/images/icon4.png') }}" alt=""></span>
                Profiles
            </a>
            <ul>
                <li><a href="#" title="">My Profile</a></li>
                <li><a href="#" title="">Top profiles</a></li>
            </ul>
        </li>
        {% include 'menu/message.html.twig' %}
        {% include 'menu/notification.html.twig' %}
    </ul>
</nav>
