<div class="search-bar">
    <form>
        <input type="text" name="search" placeholder="{{ 'menu.search'|trans }}...">
        <button type="submit"><i class="la la-search"></i></button>
    </form>
</div>
