<div class="widget widget-about">
    <img src="{{ asset('build/images/wd-logo.png') | imagine_filter('logo_widget')}}" alt="">
    <h3>RSL</h3>
    <span>{{ 'block.about.non_censured'|trans }}</span>
    <div class="sign_link">
        <h3>
            <a href="https://discord.gg/tvbjDgj" target="_blank" title="Our discord">{{ 'block.about.help_grow'|trans }}</a>
        </h3>
        <a href="https://www.facebook.com/Resauxsociallibre/"
           target="_blank" title="Our facebook page">{{ 'block.about.like_us_fb'|trans }}</a>
    </div>
</div>
