<div class="widget widget-about">
    <img src="{{ asset('build/images/wd-logo.png') }}" alt="">
    <h3>RSL</h3>
    <span>A non censured social network</span>
    <div class="sign_link">
        <h3>
            <a href="https://discord.gg/tvbjDgj" target="_blank" title="Our discord">Help us to grow</a>
        </h3>
        <a href="https://www.facebook.com/Resauxsociallibre/"
           target="_blank" title="Our facebook page">Follow us on FB</a>
    </div>
</div>
