<li>
    <div class="comment-list">
        <div class="bg-img">
            <img src="http://via.placeholder.com/40x40" alt="">
        </div>
        <div class="comment">
            <h3>{{ comment.user.username }}</h3>
            <span><img src="{{ asset('build/images/clock.png') }}" alt="">{{ comment.createdAt|ago }}</span>
            <p>{{ comment.comment|md2html }} </p>
        </div>
    </div>
</li>
