<div class="widget widget-about pb-4 pt-4">
    <h3>{{ 'block.donate.title'|trans }}</h3>
    <span>{{ 'block.donate.support'|trans }}</span>
    <a title="Donnation, pour Réseau Social Libre"
       href="https://www.leetchi.com/c/reseau-social-libre"
       target="_blank">{{ 'block.donate.btn'|trans }}</a>
</div>
