<div class="widget widget-about pb-4 pt-4">
    <h3>DONATE</h3>
    <span>Support this project!</span>
<a title="Donnation,pour Reseaux Social Libre" href="https://www.leetchi.com/c/reseau-social-libre">
     <img src="https://cdn.pixabay.com/photo/2017/06/10/22/57/donate-2391027_960_720.jpg"</a>
</div>
