<a href="#" title="" class="com" data-post="{{ post.id }}">
    <img src="{{ asset('build/images/com.png') }}" alt="">
    {% set count =  post.comments|length %}
    {% transchoice count with {'%count%': count} %}block.post.comment{% endtranschoice %}
</a>
