<div class="post-comment">
    <div class="cm_img">
        <img src="http://via.placeholder.com/40x40" alt="">
    </div>
    <div class="comment_box">
        <form data-user="{{ post.user.id }}" data-post={{ post.id }} class="comment-form">
            <textarea class="comment-text" placeholder="Post a comment"></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
</div>
