<div class="user-data full-width">
    <div class="user-profile">
        <div class="username-dt">
            <div class="usr-pic">
                <img src="http://via.placeholder.com/100x100" alt="">
            </div>
        </div>
        <div class="user-specs">
            <h3>{{ app.user.username }}</h3>
            <span>tagline</span>
        </div>
    </div>
    <ul class="user-fw-status">
        <li>
            <h4>Following</h4>
            <span>0</span>
        </li>
        <li>
            <h4>Followers</h4>
            <span>0</span>
        </li>
        <li>
            <a href="#" title="">View Profile</a>
        </li>
    </ul>
</div>
