<div class="top-profiles">
    <div class="pf-hd">
        <h3>Top Profiles</h3>
        <i class="la la-ellipsis-v"></i>
    </div>
    <div class="profiles-slider">
        <div class="user-profy">
            <img src="http://via.placeholder.com/57x57" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="#" title="" class="followw">Follow</a></li>
                <li><a href="#" title="" class="envlp"><img src="images/envelop.png" alt=""></a></li>
                <li><a href="#" title="" class="hire">hire</a></li>
            </ul>
            <a href="#" title="">View Profile</a>
        </div><!--user-profy end-->
        <div class="user-profy">
            <img src="http://via.placeholder.com/57x57" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="#" title="" class="followw">Follow</a></li>
                <li><a href="#" title="" class="envlp"><img src="images/envelop.png" alt=""></a></li>
                <li><a href="#" title="" class="hire">hire</a></li>
            </ul>
            <a href="#" title="">View Profile</a>
        </div><!--user-profy end-->
        <div class="user-profy">
            <img src="http://via.placeholder.com/57x57" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="#" title="" class="followw">Follow</a></li>
                <li><a href="#" title="" class="envlp"><img src="images/envelop.png" alt=""></a></li>
                <li><a href="#" title="" class="hire">hire</a></li>
            </ul>
            <a href="#" title="">View Profile</a>
        </div><!--user-profy end-->
        <div class="user-profy">
            <img src="http://via.placeholder.com/57x57" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="#" title="" class="followw">Follow</a></li>
                <li><a href="#" title="" class="envlp"><img src="images/envelop.png" alt=""></a></li>
                <li><a href="#" title="" class="hire">hire</a></li>
            </ul>
            <a href="#" title="">View Profile</a>
        </div><!--user-profy end-->
        <div class="user-profy">
            <img src="http://via.placeholder.com/57x57" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="#" title="" class="followw">Follow</a></li>
                <li><a href="#" title="" class="envlp"><img src="images/envelop.png" alt=""></a></li>
                <li><a href="#" title="" class="hire">hire</a></li>
            </ul>
            <a href="#" title="">View Profile</a>
        </div><!--user-profy end-->
        <div class="user-profy">
            <img src="http://via.placeholder.com/57x57" alt="">
            <h3>John Doe</h3>
            <span>Graphic Designer</span>
            <ul>
                <li><a href="#" title="" class="followw">Follow</a></li>
                <li><a href="#" title="" class="envlp"><img src="images/envelop.png" alt=""></a></li>
                <li><a href="#" title="" class="hire">hire</a></li>
            </ul>
            <a href="#" title="">View Profile</a>
        </div><!--user-profy end-->
    </div><!--profiles-slider end-->
</div>
