<div class="widget widget-about">
    <img src="{{ asset('build/images/wd-logo.png') | imagine_filter('logo_widget')}}" alt="">
    <h3>{{ nbrUsers }}</h3>
    <span>{{ 'block.user.nbr'|trans }}</span>
</div>
